:root {
    --bg-color-pink: #f13c6e;
    --bg-color-basic: #efefef;
    --color-white: #ffffff;
    --color-font-description: #333333;
    --color-font-footer: #828282;
    --color-black: #000000;
    --img-bg-color: #c4c4c4;
    --font-primary: "Roboto", Arial, sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    background-color: var(--bg-color-basic);
    line-height: 1.42;
}

a {
    text-decoration: none;
    cursor: pointer;
}


.header {
    min-height: 250px;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.header-info {
    padding: 17px 0 15px;
    min-height: 50px;
}

.header-info__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    justify-content: center;
}

.header-info__link {
    color: var(--color-font-description);
    line-height: 16px;
}

.container--brand {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.container--right {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header-brand {
    background-color: var(--color-white);
    min-height: 120px;
    border-bottom: 1px solid var(--bg-color-basic);
    padding: 20px 0 20px;
}



.header-brand__link-number {
    color: var(--color-black);
    font-size: 1.14em;
}

.header-brand__link-call {
    color: var(--color-black);
    line-height: 16px;
    padding: 10px 25px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}

.header-category {
    background-color: var(--color-white);
    min-height: 80px;
    padding: 30px 0 30px;
}

.header-category__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    justify-content: center;
}

.header-category__link {
    font-size: 1.14em;
    color: var(--color-black);
}

.main {}

.main-promo {

    max-height: 604px;
}



.main-promo__content {
    
}

.container--promo {
   

}


.main-promo__title {
    font-weight: 700;
    font-size: 3.4em;
    line-height: 56px;
    color: var(--color-white);
}

.main-promo__description {
    color: var(--color-white);
    padding-top: 50px;
}

.main-promo__link {
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-white);
    background: var(--bg-color-pink);
    border: 2px solid var(--color-white);
    border-radius: 40px;
    padding: 10px 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 174px;
}

.main-promo__action {
    padding-top: 50px;
}